.center {
    text-align:center;
}

textarea {
    width: 50%;
    height: 380px;
}

.center button {
    margin-right: 25%;
    float: right;
    width: 13.7%;
    height: 40px;
}

table, th, td {
    border:1px solid black;
}

#data_table {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    margin-left: 22%;
}

.left .file_upload {
    margin-left: 15%;
}